.root{
    -fx-background-color: #383838;
    -fx-font-size: 9;
}
.label{
    -fx-text-fill: azure;
}
.button{
    -fx-background-color: linear-gradient(seashell,coral);
    -fx-text-fill: blanchedalmond;
    -fx-background-radius: 6;
}
.button-blue{
    -fx-background-color: blue;
    -fx-text-fill: blanchedalmond;
    -fx-background-radius: 6;
}
#bold-label{
    -fx-font-weight: bold;
}