img{
    height: 60px;
    width: 60px;
    vertical-align: top;
}
img[src=""] {
    display: none;
}
.x-axis,.y-axis{
    font-size: 40px;
    font-weight: bold;
    color: white;

}
.white-cell,.black-cell,.x-axis,.y-axis{
    display: table-cell;
    height: 60px;
    width: 60px;
    border: none;
    text-align: center;
    vertical-align: middle;
}
.white-cell{
    background-color: white;
    border: solid thin black;
}
.black-cell{
    background-color: #80807f ;
    border: solid thin black;

}
.row{
    display: table-row;
}

#checker-board,#status{
    display: table-cell;
    padding: 10px;
}

#status,#checker-board{
    background-color:darkslategray;
}
